* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.container div {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 2px solid red;
    margin: 20px;
    text-align: center;

}